assign9/Clinic/ClinicDTOs/src/PatientDto.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:ns0="http://www.example.org/clinic/schemas/patient" xmlns:ns1="http://cs548.stevens.edu/clinic/dto"
	targetNamespace="http://www.example.org/clinic/schemas/patient">
	<xsd:element name="patient-dto">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="id" type="xsd:long" />
				<xsd:element name="patient-id" type="xsd:long" />
				<xsd:element name="name" type="xsd:string" />
				<xsd:element name="dob" type="xsd:date" />
				<xsd:element name="age" type="xsd:int" />
				<xsd:element name="treatments" type="xsd:long"
					minOccurs="0" maxOccurs="unbounded" nillable="true" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>